language: python
python:
    - "3.6"
install:
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    - bash miniconda.sh -b -p $HOME/miniconda
    - source "$HOME/miniconda/etc/profile.d/conda.sh"
    - hash -r
    - conda info -a
    - conda install --yes mamba
    - conda create --yes -n simulate-parasite-infection
    - conda activate simulate-parasite-infection
    - mamba install --yes --file requirements.txt
script:
    - coverage run -m unittest tests.host_test
    - Rscript tests/testthat.R
after_success:
    - bash <(curl -s https://codecov.io/bash)
